<%= session[:current_user_id] %>

<header  class="container-fluid" style="background-color:white">
    <div class="row">
        <div class="col-md-3" style="font-size:20px; padding-top:5px; padding-bottom:5px;">
            <h4>
                <strong>
                    <a href="/">Back to Home Page</a>
                </strong>
            </h4>
        </div>
        <div class="col-md-5" align="center">
            <h4>Admin Panel eShoppingHub</h4>
        </div>
        <div class="col-md-2" align="center">
            <h5>
                <strong>
                    <a href="">Go To Store</a>
                </strong>
            </h5>
        </div>
        <div class="col-md-1" align="center" style="padding-top:5px">
            adminxyz
        </div>
        <div class="col-md-1"  align="center" style="padding-top:5px">
            <a href="/">
                Logout
                <span class="glyphicon glyphicon-log-out"></span>
            </a>
        </div>
    </div>
</header>
<section>
         <div class="col-md-2" style="background-color:lightblue">
            <div class="row" style="padding-top:10px; font-size:16px">
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
                    <span class="glyphicon glyphicon-dashboard"></span>
                    Dashboard
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="headerCategories">
                    <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/add_product">Add Product</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="subCategories">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/view_products">View Produts</a>
                </div>
                <div class="col-md-12" style="background-color:orange; padding-top:5px; padding-bottom:5px" id="otherCategories">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/order_products">Order Products</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="users">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/sold_products">Sold Products</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="orderItems">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/messages">Messages</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="orderItems">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/comments">Comments</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="soldItems">
                     <a href="/seller_panel_dashboard/seller_panel_dashboard_frontend_pages/account_information">Account Information</a>
                </div>
                <div class="col-md-12" style="padding-top:5px; padding-bottom:5px" id="report">
                     Report
                </div>
            </div>
           </div>
            <div class="col-md-10">
                 <div class="row">
                      <div class="col-md-12">
                      <h2>Order Products</h2>
                      </div>
                      <div class="col-md-12" style="margin-top:20px">
                           <table class="table table-bordered" id="order_completed_table">
                           <thead>
                                    <tr>
                                        <th>Order No</th>
                                        <th>Buyer Name</th>
                                        <th>Product Id</th>
                                        <th>Product Name</th>
                                        <th>Category</th>
                                        <th>Sub Category</th>
                                        <th>Product Pic</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>54</td>
                                       <td>Raza</td>
                                       <td>23</td>
                                       <td>5PCS Bath Accessory Set Resin Soap Dish Dispenser Tumbler Toothbrush Holder</td>
                                       <td>Electronics</td>
                                       <td>Watches</td>
                                       <td>
                                         <img src="Images/p1_1.jpg" style="height:150px; width:300px" class="img-responsive" alt="Not Uploaded">
                                       </td>
                                       <td>2</td>
                                       <td>US $5</td>
                                       <td>US $10</td>
                                       <td>5-July-16</td>
                                       <td class="col-md-2">
                                          <select class="form-control">
                                             <option>Pending</option>
                                             <option>Completed</option>
                                          </select>
                                       </td>
                                       <td>
                                         <a href="">
                                           <span class="glyphicon glyphicon-trash"></span>
                                         </a>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>54</td>
                                       <td>Raza</td>
                                       <td>23</td>
                                       <td>5PCS Bath Accessory Set Resin Soap Dish Dispenser Tumbler Toothbrush Holder</td>
                                       <td>Electronics</td>
                                       <td>Watches</td>
                                       <td>
                                         <img src="Images/p1_1.jpg" style="height:150px; width:300px" class="img-responsive" alt="Not Uploaded">
                                       </td>
                                       <td>2</td>
                                       <td>US $5</td>
                                       <td>US $10</td>
                                       <td>5-July-16</td>
                                       <td class="col-md-2">
                                          <select class="form-control">
                                             <option>Pending</option>
                                             <option>Completed</option>
                                          </select>
                                       </td>
                                       <td>
                                         <a href="">
                                           <span class="glyphicon glyphicon-trash"></span>
                                         </a>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>54</td>
                                       <td>Raza</td>
                                       <td>23</td>
                                       <td>5PCS Bath Accessory Set Resin Soap Dish Dispenser Tumbler Toothbrush Holder</td>
                                       <td>Electronics</td>
                                       <td>Watches</td>
                                       <td>
                                         <img src="Images/p1_1.jpg" style="height:150px; width:300px" class="img-responsive" alt="Not Uploaded">
                                       </td>
                                       <td>2</td>
                                       <td>US $5</td>
                                       <td>US $10</td>
                                       <td>5-July-16</td>
                                       <td class="col-md-2">
                                          <select class="form-control">
                                             <option>Pending</option>
                                             <option>Completed</option>
                                          </select>
                                       </td>
                                       <td>
                                         <a href="">
                                           <span class="glyphicon glyphicon-trash"></span>
                                         </a>
                                       </td>
                                    </tr>
                                 </tbody>
                           </table>
                      </div>
                  </div>
            </div>
        </div>
    </section>