<%= render 'layouts/header' %>
        <div style="background-color:#F0F0F0; padding:1px">
        <section>
                <div class="container">
                    <div class="row" style="background-color:lightgrey">
                        <div class="col-md-12 hidden-sm hidden-xs">
                              <h3>Home and Living</h3>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-md-3 col-sm-4 hidden-xs" style="color:#673A09; background-color:lightgrey">
                              <div class="row" style="border:2px solid #8E7D7D; padding:15px;  ">
                                  <div class="col-md-12 col-sm-12" style="border-top:2px solid rgb(115,123,125); background-color:#E5E5E8; border-bottom:2px solid rgb(115,123,125) ; padding:5px; margin-bottom:10px">
                                        <b>Home and Living</b>
                                  </div>
                                  <div class="row">
                                        <div class="col-md-2 col-sm-2" style=" padding-left:20px;">
                                            <span class="glyphicon glyphicon-menu-right"></span>
                                        </div>
                                        <div class="col-md-10 col-sm-10" style="margin-left:-20px;">
                                             <a href="/frontend_pages/frontend_page/kitchen_and_dining">Kichen and Dining (230)</a>
                                        </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-2 col-sm-2" style=" padding-left:20px;">
                                         <span class="glyphicon glyphicon-menu-right"></span>
                                      </div>
                                      <div class="col-md-10 col-sm-10" style="margin-left:-20px;">
                                         Bathing(231)
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-2 col-sm-2" style=" padding-left:20px;">
                                         <span class="glyphicon glyphicon-menu-right"></span>
                                      </div>
                                      <div class="col-md-10 col-sm-10" style="margin-left:-20px;">
                                           Outdoor and Garden(456)
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-2 col-sm-2" style=" padding-left:20px;">
                                         <span class="glyphicon glyphicon-menu-right"></span>
                                      </div>
                                      <div class="col-md-10 col-sm-10" style="margin-left:-20px;">
                                           Home Repairs (56)
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-2 col-sm-2" style=" padding-left:20px;">
                                         <span class="glyphicon glyphicon-menu-right"></span>
                                      </div>
                                      <div class="col-md-10 col-sm-10" style="margin-left:-20px;">
                                           Home Decorators(456)
                                      </div>
                                  </div>
                              </div>
                              <div class="row" style="border:2px solid #8E7D7D; padding:15px; margin-top:20px ">
                                  <div class="col-md-12" style="background-color:#E5E5E8; border-top:2px solid rgb(115,123,125) ; border-bottom:2px solid rgb(115,123,125) ; padding:5px; margin-bottom:10px">
                                        <b>Brand</b>
                                  </div>
                                  <div class="row">
                                        <div class="col-md-12" style=" padding-left:20px;">
                                            Search for: 
                                            <div class="form-group has-feedback"  style=" width:80%;">
                                                <input class="form-control" type="search" placeholder="Search">
                                                <span class="glyphicon glyphicon-search form-control-feedback" ></span>
                                            </div>
                                        </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12" style="margin-left:10px;">
                                        <div class="row" style="width:80%">
                                            <div class="col-md-12 " style="overflow-y:scroll; overflow-x:hidden; height:100px">
                                                <input type="checkbox"><span> Anex(34)</span>
                                                 <br>                                              
                                                <input type="checkbox"><span> Casio(12)</span>
                                                <br>
                                                <input type="checkbox">
                                                <span> Cannon(3)</span><br>
                                                <input type="checkbox"><span> Anex(34)</span>
                                                <br>
                                                <input type="checkbox"><span> Casio(12)</span>
                                                <br>
                                                <input type="checkbox"><span> Cannon(3)</span>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                              </div>
                        </div>
                        <div class="col-md-9 col-sm-8" style="background-color:lightgrey;">
                              <div class="row" style="margin-top:10px">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <img src="/images/slide_1.jpg" class="img-rounded img-responsive" alt="Not Upload">
                                    </div>
                              </div>
                              <div class="row" style="margin-top:20px;">
                                   <div class="col-md-10 col-sm-9 col-xs-8">
                                        <span style="font-size:20px"><b>KICKHEN AND DINING</b></span>
                                   </div>
                                   <div class="col-md-2 col-sm-3 col-xs-4">
                                        <span class="kitchen-and-dining-left-arrow glyphicon glyphicon-menu-left">
                                        </span>
                                        <span class="kitchen-and-dining-right-arrow glyphicon glyphicon-menu-right">
                                        </span>
                                   </div>
                              </div>
                              <div class="row" style="padding:10px 15px 15px 15px">
                                   <div class="col-md-12 col-sm-12" style="border-bottom:1px solid black">
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-4 col-sm-4 col-xs-6 pic11">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/p1_1.jpg" id="pic-11-1" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $130
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 col-xs-6 pic22">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/h3.jpg" id="pic-22-2" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $132
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>

                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs pic33">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/p1_3.jpg" id="pic-33-3" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $1300
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs pic44" style="display:none">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/p1_3.jpg" id="pic-44-4" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $100
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                              </div>
                              <div class="row" style="margin-top:20px;">
                                   <div class="col-md-10 col-sm-9 col-xs-8">
                                        <span style="font-size:20px"><b>BATHING</b></span>
                                   </div>
                                   <div class="col-md-2 col-sm-3 col-xs-4">
                                        <span class="bathing-left-arrow glyphicon glyphicon-menu-left">
                                        </span>
                                        <span class="bathing-right-arrow glyphicon glyphicon-menu-right">
                                        </span>
                                   </div>
                              </div>
                              <div class="row" style="padding:10px 15px 15px 15px">
                                   <div class="col-md-12 col-sm-12" style="border-bottom:1px solid black">
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-4 col-sm-4 col-xs-6 b1">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/b1.jpg" id="b-1" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $130
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 col-xs-6 b2">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/b2.jpg" id="b-2" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $132
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>

                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs b3">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/b3.jpg" id="b-3" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $1300
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs b4" style="display:none">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/b4.jpg" id="b-4" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $100
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                              </div>
                              <div class="row" style="margin-top:20px;">
                                   <div class="col-md-10 col-sm-9 col-xs-8">
                                        <span style="font-size:20px"><b>HOME DECORATORS</b></span>
                                   </div>
                                   <div class="col-md-2 col-sm-3 col-xs-4">
                                        <span class="home-decorators-left-arrow glyphicon glyphicon-menu-left">
                                        </span>
                                        <span class="home-decorators-right-arrow glyphicon glyphicon-menu-right">
                                        </span>
                                   </div>
                              </div>
                              <div class="row" style="padding:10px 15px 15px 15px">
                                   <div class="col-md-12 col-sm-12" style="border-bottom:1px solid black">
                                   </div>
                              </div>
                              <div class="row">
                                   <div class="col-md-4 col-sm-4 col-xs-6 hd1">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/hd1.jpg" id="hd-1" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $130
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 col-xs-6 hd2">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/hd2.jpg" id="b-2" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $132
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>

                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs hd3">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/hd3.jpg" id="b-3" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $1300
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                                   <div class="col-md-4 col-sm-4 hidden-xs hd4" style="display:none">
                                      <div class="row">
                                         <div class="col-md-12"> 
                                                <img src="/images/hd4.jpg" id="b-4" class="img-responsive" style="height:200px" width="100%" alt="Not Uploaded">
                                                  <div class="kitchen-and-dining-item-heading">
                                                    <a href="" style="color:white">
                                                      <h4>Combo of One Selfi Stick</h4>
                                                    </a>
                                                  </div>
                                          </div> 
                                          <div class="col-md-12">
                                               <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue">
                                                 <b>Price: </b>US $100
                                               </div>
                                               <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><b>Items:</b> 34</span>
                                               </div>
                                               <div class="col-md-12 col-sm-12 col-xs-12" style="background-color:lightblue;">
                                                 <span><a href=""><b>Shop Now</b></a></span>
                                               </div>
                                          </div>
                                      </div>
                                   </div>
                              </div>



                        </div>
                    </div>
                </div>

<!-- 
                {{ 
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                       <h3>Home and Living</h3>
                    </div>
                </div>
            </div>   
            <div class="container" style="word-wrap:break-word">
               <div class="row" style="word-wrap:break-word">
                    <div class="col-md-3" style="word-wrap:break-word">
                         <div class="row" style="word-wrap:break-word">
                                <div class="col-md-12" style="word-wrap:break-word">
                                 	<div style="border:1px solid black; margin-top:10px; word-wrap:break-word">
                  
                                            <b>Home and Living</b>
                                          
                                    </div>
                                </div>
                          </div>
                    </div>
                    <div class="col-md-9" style="word-wrap:break-word">
                         <div class="row" style="word-wrap:break-word">
                                <div class="col-md-12" style="word-wrap:break-word">
                                 	<div style="border:1px solid black; margin-top:10px; word-wrap:break-word">
                  
                                            <b>Home and Living</b>
                                            <ul>
                                            	<li>Kitchen and Dining(200)</li>
                                            	<li>Kitchen and Dining(200)</li>
                                            	<li>Kitchen and Dining(200)</li>
                                            	<li>Kitchen and Dining(200)</li>
                                            	<li>Kitchen and Dining(200)</li>
                                            </ul>
                                    </div>
                                </div>
                          </div>
                    </div>
                 }}  

 -->
                    <!--   
                        <div style="border:1px solid black; margin-top:5px">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-left:10px">
                                       <b>Brand</b>
                                    </div>
                                </div>
                                <div class="row">     
                                    <div class="col-sm-12" style="margin-left:10px; margin-top:10px">
                                        <div class="form-group has-feedback"  style=" width:80%;">
                                            <input class="form-control" type="search" placeholder="Search">
                                            <span class="glyphicon glyphicon-search form-control-feedback" ></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="margin-left:10px;">
                                        <div class="row" style="width:80%">
                                            <div class="col-sm-12 " style="overflow:scroll; height:100px">
                                                <input type="checkbox">
		                                        <span>Anex(34)</span>
		                                        <br>                                              
                                                <input type="checkbox">
		                                        <span>Casio(12)</span>
		                                        <br>
		                                        <input type="checkbox">
		                                        <span>Cannon(3)</span>
		                                        <br>
		                                        <input type="checkbox">
		                                        <span>Anex(34)</span>
		                                        <br>
                                                <input type="checkbox">
		                                        <span>Casio(12)</span>
		                                        <br>
		                                        <input type="checkbox">
		                                        <span>Cannon(3)</span>
		                                    </div>
                                        </div>
                                    </div>
                                </div>
                        </div> -->
                 
<!-- {{ 
                        <div style="border:1px solid black; margin-top:5px">
                                <div class="row">
                                    <div class="col-md-12">
                                       <div class="row">
                                            <div class="col-sm-12" style="padding-left:25px">
                                                <label>Price</label>
                                            </div>
                                       </div>
                                       <div class="row">
                                            <div class="col-sm-12">
                                                <div data-role="rangeslider">
                                                   <input type="range" name="price-max" min="0" max="100">
                                                   <input data-slider-min="0" data-slider-max="110">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xm-12" align="center">
                                                <span style="border:2px solid black">$500</span>
                                                <span style="border:2px solid black">$500</span>
                                            </div>
                                        </div>
                                    </div>
                             </div>
                        </div>                       
                    </div>
                    <div class="col-sm-9">
                         <div class="row" style="margin-top:10px">
                              <div class="col-sm-12">
                              <img src="Images/slide_1.jpg" class="img-responsive" alt="Not Upload">
                              </div>
                         </div>
                         <div class="row" style="margin-left:10px; margin-top:20px">
                              <div class="col-sm-12">
                                   <button class="btn btn-primary"><b>All Products</b></button>
                                   <button class="btn btn-default"><b>Top/Star Products</b></button>
                              </div>
                         </div>
                         <div class="row">
                              <div class="col-md-12" style="width:96%; margin:2%; border:1px solid black">
                                   <div class="row" style="padding:15px">
                                        <div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <img src="Images/slide_1.jpg" class="img-responsive" alt="Not Upload">
                                                     </div>
                                                </div>
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="detail_page">Heading</a></h4>
                                                           <p>Price: $500   Items(3)</p>
                                                           <p>Seller Name: Raza Aslam</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="detail_page.blade.php">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black; ">
                                                <img src="Images/slide_2.jpg" class="img-responsive" alt="Not Upload">
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="#">Heading</a></h4>
                                                           <p>Price: $500    Items(3)</p>
                                                           <p>Seller Name: Shaiq Raza</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="#">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div><div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black; margin-top:10px">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <img src="Images/slide_1.jpg" class="img-responsive" alt="Not Upload">
                                                     </div>
                                                </div>
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="#">Heading</a></h4>
                                                           <p>Price: $500   Items(3)</p>
                                                           <p>Seller Name: Raza Aslam</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="#">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black; margin-top:10px">
                                                <img src="Images/slide_2.jpg" class="img-responsive" alt="Not Upload">
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="#">Heading</a></h4>
                                                           <p>Price: $500   Items(3)</p>
                                                           <p>Seller Name: Shaiq Raza</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="#">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div>
                                        </div><div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black; margin-top:10px">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                         <img src="Images/slide_1.jpg" class="img-responsive" alt="Not Upload">
                                                     </div>
                                                </div>
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="#">Heading</a></h4>
                                                           <p>Price: $500   Items(3)</p>
                                                           <p>Seller Name: Raza Aslam</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="#">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div style="padding:0px; border:1px solid black; margin-top:10px">
                                                <img src="Images/slide_2.jpg" class="img-responsive" alt="Not Upload">
                                                <div class="row" style="margin:5px">
                                                      <div class="col-md-8">
                                                           <h4><a href="#">Heading</a></h4>
                                                           <p>Price: $500   Items(3)</p>
                                                           <p>Seller Name: Shaiq Raza</p>
                                                      </div>
                                                      <div class="col-md-4">
                                                           <h5><a href="#">Shop Now</a></h5>
                                                           <small>Date: 5-6-15</small>
                                                      </div>
	                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                         <div class="col-md-12" align="center">
                                                <ul class="pagination">
                                                  <li class="active pagination-pages"><a href="#">1</a></li>
                                                  <li class="pagination-pages"><a href="#">2</a></li>
                                                  <li class="pagination-pages"><a href="#">3</a></li>
                                                  <li class="pagination-pages"><a href="#">4</a></li>
                                                  <li class="pagination-pages"><a href="#">5</a></li>
                                                </ul>
                                         </div>
                                    </div>
                              </div>
                         </div>
                    </div> }}
 -->          	    </div>
            </section>
