<div id="home_and_living_modal_edit" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">&times;</button>
                <h3>Edit Sub Category Name</h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Category Name</label>
                            <input type="text" class="form-control" disabled placeholder="Home and Living">
                        </div>
                    </div>
                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6">
                            <label>Enter Sub Category Name</label>
                            <input type="text" class="form-control" value="Kitchen and Dining">
                        </div>
                    </div>
                    <button type="button" style="margin-top:10px;" class="btn btn-primary">Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
