<!-- {{-- <div id="header_main_div">
 --}} --><div class="container" style="margin-top:-5px;">
 <!--  {{--  <div class="page-header" style=" background-color:#faebd7; height:40px">
   --}} 
  -->   <div class="row" style="background-color:white; border-radius:5px; padding:10px; margin-bottom:10px;">
        <div class="col-md-3 col-sm-3 col-xm-2">Hi!
        <a href="/sign_in_sign_up/user_sign_in_sign_up" id="hi_sign_in">Sign In</a>
            <div class="row" style="position:absolute; z-index:1; display:none" id="hi_sign_in_menu">
                <div class="col-md-8" style="background-color:lightgrey" id="hi_sign_in_menu_sub">
                    <div class="row">
                        <div class="col-md-5" style="background-color:; height:50px;">
                          <img src="/images/c1.jpg"  style="padding-top:3px;" class="img-responsive" alt="Not Uploaded">
                        </div>
                        <div class="col-md-7" style="padding-top:15px">
                          Raza Aslam 
                        </div>
                        <div class="col-md-12" style="padding-top:10px">
                            <a href="buyer_dashBoard_accountInfo">Account Information</a>
                        </div>
                        <div class="col-md-12" style="padding-bottom:10px">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
           </div>
         or 
        <a href="business_account_signUp_page">Register |</a>
           
        </div>
        <div class="col-md-2 col-sm-3 hidden-xm col-md-offset-2" >
        <a href="help_and_contact" class="link_black">Help & Contact</a>
        </div>
        <div class="col-md-2 col-sm-3 col-xm-2" id="my_shoppingHub_div" >
            <div class="link_black" id="my_shoppingHub">My ShoppingHub</div>
            <ul id="my_shoppingHub_menu" style="padding-left:10px; padding-top:5px; padding-bottom:2px; list-style-type:none;  background-color:white; box-shadow:1px 2px lightgrey; position:absolute; z-index:1; width:80%; display:none">
                <li><a href="buyer_dashBoard_cart" class="link_black">Cart Items</a></li>
                <li><a href="buyer_dashBoard_watchList" class="link_black">WatchList Items</a></li>
                <li><a href="buyer_dashBoard_orderItems" class="link_black">Order Items</a></li>
                <li><a href="buyer_dashBoard_purchaseHistory" class="link_black">Purchase History</a></li>
                <li><a href="buyer_dashBoard_messages" class="link_black">Messages</a></li>
            </ul>
        </div>

        <div class="col-md-2 col-sm-2 hidden-xm">
        <a href="buyer_dashBoard_watchList" class="link_black">My Watch List</a>
        </div>
        <div class="col-md-1 col-sm-1 hidden-xm">
        <a href="buyer_dashBoard_cart" class="link_black">
        <span class="glyphicon glyphicon-shopping-cart">(2)</span>
        </a>
        </div>
    </div> 
    <div class="row" align="center">
        <div class="col-sm-3 col-md-2 ">
             <img  src="/images/logo2.png" class="img-responsive" alt="Logo Not Upload"> 
        </div>
        <div class="col-sm-9 col-md-10">
           <form action="search" method="GET" role="form">
                <div class="row" align="justified">
                    <div class="col-xs-12 col-sm-7 col-md-8 form-group" style="margin-top:15px;">
                        <input type="search" placeholder="Enter Category Name" class="form-control">
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-2 form-group" style="margin-top:15px">
                        <div class="dropdown">
                            <button class="btn btn-default" data-toggle="dropdown">All Categories
                   		        <span class="caret"></span>
                            </button>
                        	  <ul class="dropdown-menu">
                     			<li><a href="frontend_pages/frontend_page/home_and_living">Home and Living</a></li>
			                    <li><a href="home_and_living">Electronics</a></li>
			                    <li><a href="home_and_living">Clothing</a></li>
			                    <li><a href="home_and_living">Footwear</a></li>
			                    <li><a href="home_and_living">Jewelery</a></li>
			                  </ul>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2 form-group" style="margin-top:15px;">         
                         <button class="col-md-8 btn btn-primary"> <b> Search </b> </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    

    <div class="row">
    <nav id="ddmenu">
    <div class="menu-icon">
    </div>
    <ul>
        <li>
            <a class="top-heading" href="/">Latest</a>
        </li>
        <li class="full-width">
            <span class="top-heading"><a href="/frontend_pages/frontend_page/home_and_living">Home and Living</span>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Categories</h3>     
                        </li>
                        <li>
                            <a href="/kitchen_and_dining">Kitchen and Dining</a>       
                        </li>
                        <li>
                            <a href="">Bathing</a>      
                        </li>
                        <li>
                            <a href="">Outdoor and Garden</a>       
                        </li>
                        <li>
                            <a href="">Bedding</a>      
                        </li>
                        <li>
                            <a href="">Home Repairs</a>     
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/slide_4.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Electronics</span>
            <i class="caret"></i>
            <div class="dropdown">
                <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Top Categories</h3>
                        </li>
                        <li>
                            <a href="">Laptops</a>
                        </li>
                        <li>
                            <a href="">Personal Computers</a>
                        </li>
                        <li>
                            <a href="">Refrigerators</a>
                        </li>
                        <li>
                            <a href="">Ovens</a>
                        </li>
                        <li>
                            <a href="">Printers</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/slide_3.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Clothing</span>
            <i class="caret"></i>
            <div class="dropdown">
                 <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Top Categrories</h3>
                        </li>
                        <li>
                            <a href="">Mens</a>
                        </li>
                        <li>
                            <a href="">Womens</a>
                        </li>
                        <li>
                            <a href="">Kids</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/slide_2.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Sporting Goods</span>
            <i class="caret"></i>
            <div class="dropdown">
                 <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Top Categrories</h3>
                        </li>
                        <li>
                            <a href="">GYM Equipments</a>
                        </li>
                        <li>
                            <a href="">Cricket</a>
                        </li>
                        <li>
                            <a href="">Football</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/slide_1.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Jewelery</span>
            <i class="caret"></i>
            <div class="dropdown">
                 <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Top Categrories</h3>
                        </li>
                        <li>
                            <a href="">Rings</a>
                        </li>
                        <li>
                            <a href="">Earrings</a>
                        </li>
                        <li>
                            <a href="">Artificial Jewelery</a>
                        </li>
                        <li>
                            <a href="">Necklaces</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/slide_5.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Toys,Kids and Babies</span>
            <i class="caret"></i>
            <div class="dropdown">
                 <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Top Categrories</h3>
                        </li>
                        <li>
                            <a href="">Toys</a>
                        </li>
                        <li>
                            <a href="">Baby Products</a>
                        </li>
                        <li>
                            <a href="">Outdoor Games</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br><img src="/images/p1_3.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
        <li class="full-width">
            <span class="top-heading">Others</span>
            <i class="caret"></i>
            <div class="dropdown">
                 <div class="dd-inner">
                    <ul class="column">
                        <li>
                            <h3>Categrories</h3>
                        </li>
                        <li>
                            <a href=""></a>
                        </li>
                        <li>
                            <a href="">Books</a>
                        </li>
                        <li>
                            <a href="">Stationary</a>
                        </li>
                        <li>
                            <a href="">Health & Beauty</a>
                        </li>
                        <li>
                            <a href="">Footwear</a>
                        </li>
                    </ul>
                    <ul class="column">
                        <li>
                            <br /><img src="/images/p1_4.jpg" width="380px" style="height:160px" class="img-responsive" alt="Not Uploaded">
                        </li>
                    </ul>
                 </div>
            </div>
        </li>
    </ul>
</nav>
<!-- 
       {{-- <div class="col-md-12">
             <nav class="navbar navbar-default">
               <button class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                  	<span class="icon-bar"></span>
                   	<span class="icon-bar"></span>
                	<span class="icon-bar"></span>
                	</button>

                	<div class="collapse navbar-collapse" id="mynavbar" style="padding:0px">
                	     <ul class="nav navbar-nav">
                	         
                	         <li class="navigation_menu">
                	         <a href="/" style="margin-left:5px">Latest
                	         </a>
                	         </li>
                	         <li class="dropdown navigation_menu">
                	         <a href="home_and_living" data-toggle="dropdown" target="_blank" style="margin-left:5px">Home and Living<span class="caret"></span>
                	              </a>
                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Kitchen and Dining</a></li>
                	                 <li><a href="#" target="_blank">Bathing</a></li>
                	                 <li><a href="#" target="_blank">Outdorr and Garden</a></li>
                	                 <li><a href="#" target="_blank">Bedding</a></li>
                	                 <li><a href="#" target="_blank">Home Repairs</a></li>
                	             </ul>
                	         </li>

                	         <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Electronics<span class="caret"></span>
                	             </a>
                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Laptops</a></li>
                	                 <li><a href="#" target="_blank">Personal Computers</a></li>
                	                 <li><a href="#" target="_blank">Refrigerators</a></li>
                	                 <li><a href="#" target="_blank">Owens</a></li>
                	                 <li><a href="#" target="_blank">Printers</a></li>
                	             </ul>
                	         </li>
                	         <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Clothing<span class="caret"></span>
                	         	 </a>

                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Mens</a></li>
                	                 <li><a href="#" target="_blank">Womens</a></li>
                	                 <li><a href="#" target="_blank">Kids</a></li>
                	             </ul>
                	         </li>
                	          <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Sporting Goods<span class="caret"></span>
                	         	 </a>
                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">GYM Equipments</a></li>
                	                 <li><a href="#" target="_blank">Cricket</a></li>
                	                 <li><a href="#" target="_blank">Football</a></li>
                	             </ul>
                	         </li>
                	         <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Jewelery<span class="caret"></span>
                	         	 </a>
                	         	 <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Rings</a></li>
                	                 <li><a href="#" target="_blank">Earrings</a></li>
                	                 <li><a href="#" target="_blank">Artifiical Jewlery</a></li>
                	                 <li><a href="#" target="_blank">Necklaces</a></li>
                	             </ul>
                	         </li>
                	         <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Toys, Kids & Babies<span class="caret"></span>
                	         	 </a>
                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Toys</a></li>
                	                 <li><a href="#" target="_blank">Baby Products</a></li>
                	                 <li><a href="#" target="_blank">Outdoor Games</a></li>
                	             </ul>
                	         </li>
                	         <li class="dropdown navigation_menu">
                	         <a href="#" data-toggle="dropdown" style="margin-left:5px">Other<span class="caret"></span>
                	         	  </a>
                	             <ul class="dropdown-menu">
                	                 <li><a href="#" target="_blank">Books</a></li>
                	                 <li><a href="#" target="_blank">Stationary</a></li>
                	                 <li><a href="#" target="_blank">Health & Beauty</a></li>
                	                 <li><a href="#" target="_blank">Footwear</a></li>
                	             </ul>
                	         </li>
                	     </ul>
         </nav>           
             </div>               
   </div> --}}
    --></div>
</div> 
</div>